@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<header class="masthead">
            <div class="container">
                <div class="masthead-subheading text-dark">Welcome To My Blog!</div>
                <div class="masthead-heading text-uppercase text-dark">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase text-dark" href="#services">Tell Me More</a>
            </div>
</header>
<section class="index-2 bg-dark" >
</section>
